
/***** COLORS *****/
:root {
    --myBlue: #0368D4;
    --myGreen: #248C40;
    --myYellow: #D0A00E;
    --myRed: #B43040;
    --myPurple: #533C78;
    --myBlack: #0D1117;
    --myWhite: rgb(240, 240, 240);
    --myGrey: #AAA;
    
    --myDark: #22272E;
    --myDarkLight: #2D333B;
    --myBlueDark: rgb(22, 32, 44);
    --myBlueLight: rgb(157, 198, 236);
  
 }


/***** BLUE DARK *****/
.my-text-blue-dark {
    color: var(--myBlueDark);
}
.my-bg-blue-dark {
    background-color: var(--myBlueDark);
}
.my-body-blue-dark {
    color: var(--myWhite); 
    background-color: var(--myBlueDark);
}



/***** LIGHT *****/
.my-text-light {
    color: var(--myWhite); 
}
.my-bg-light {
    background-color: var(--myWhite); 
}
.my-body-light {
    color: var(--myBlueDark); 
    background-color: var(--myWhite);
}

.my-bg-blue-light { 
    background-color: var(--myBlueLight); 
} 
.my-body-blue-light { 
    color: var(--myBlueDark); background-color: var(--myBlueLight); 
}