/***** COLORS *****/
:root {
    --myBlue: #0368D4;
    --myGreen: #248C40;
    --myYellow: #D0A00E;
    --myRed: #B43040;
    --myPurple: #533C78;
    --myBlack: #0D1117;
    --myWhite: rgb(240, 240, 240);
    --myGrey: #AAA;
    
    --myDark: #22272E;
    --myDarkLight: #2D333B;
    --myBlueDark: rgb(22, 32, 44);
    --myBlueLight: rgb(157, 198, 236);
 }


/* RESET DEFAULT VALUES - CSS */
* {
    box-sizing: border-box; /* Box Sizing respeitando limite da Borde Box */
    margin: 0;  /* Zero Margin Total */
    padding: 0; /* Zero Padding Total */ 
}

/***** FONT SIZE *****/
p {
    font-size: small;
}


/** NAV SIDE **/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(22, 32, 44);  
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: var(--myWhite);;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: var(--myDarkLight);
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 10px 0 0 20px;
  }
  .sidenav a:nth-child(2) i {color: var(--myBlue);}
  .sidenav a:nth-child(3) i {color: var(--myGreen);}
  .sidenav a:nth-child(4) i {color: var(--myYellow);}
  .sidenav a:nth-child(5) i {color: var(--myRed);}

  .sidenav a span {padding-left: 20px;}



  

/***** MY CONTENT *****/
.my-content {
    margin-bottom: 7rem;
}


/***** ANIMATE TEXT *****/
.title { 
    transform: translateY(-120px);  
    transition: all 1.5s linear;


    opacity: 0.4;
}
.title.animate { 
    transform: translateY(0);  
    opacity: 0.8;
}

.sub-title { 
    transform: translateY(-120px);  
    transition: all 1s linear;


    opacity: 0.4;
}
.sub-title.animate { 
    transform: translateY(0);  
    opacity: 0.9;
}



/***** NAV PILLS COLOR *****/
.nav-pills > a.active  {
    color: var(--myWhite) !important;
    background-color: var(--myBlueDark) !important;
}

.nav-pills > a {
    color: var(--myBlueDark) !important;
    font-weight: bold;
}
.nav-pills > a:hover {
    color: var(--myBlue) !important;
}
.nav-pills > a:hover.active {
    color: var(--myWhite) !important;
}


/***** LOGO OUTSYSTEMS *****/
#outsystems > h3 > img { 
    width: 40px;
    height: 40px;
    margin-bottom: 6px ;
    opacity: 0.8;
}
/***** LOGO HTML5-CSS3-JS *****/
#html5css3js > h3 > img { 
    width: 160px;
    height: 50px;
    opacity: 0.9;
}
/***** REACTJS COLOR *****/
.reactjs-color { 
    color: var(--myBlue);
}
/***** BOOTSTRAP COLOR *****/
.bootstrap-color { 
    color: var(--myPurple);
}



/***** CARDS *****/
.card a { 
    text-decoration: none;
    font-size: small;
}
.card a span { 
    color: var(--myBlueDark) ;
    font-size: small;
}



/***** FOOTER *****/
footer { 
    display: flex;
    height: 3.2em;

    position: fixed;
    bottom: 0;

    justify-content: center;
    align-items: center;
}
footer div ul { 
    display: flex;
    flex-direction: row;

    list-style: none;
    padding-top: 1em;

}
footer div ul li { 
    padding: 3em;
}

footer div ul li:nth-child(1) a i {color: var(--myBlue);}
footer div ul li:nth-child(2) a i {color: var(--myGreen);}
footer div ul li:nth-child(3) a i {color: var(--myYellow);}
footer div ul li:nth-child(4) a i {color: var(--myRed);}
footer div ul li a span {padding-left: 10px; color: var(--myWhite);}

.itens-bottom li a{ 
    text-decoration: none;
}



/** MEDIA QUERIES **/

@media (max-width: 900px) {
    
    .menu-bottom ul li a i {font-size: 1.2rem;}
    .menu-bottom ul li a span {font-size: 14px;}
}
@media (max-width: 800px) {
    
    .menu-bottom ul li a i {font-size: 1rem;}
    .menu-bottom ul li a span {font-size: 12px;}
}
@media (max-width: 760px) {
    
    .menu-bottom ul li a i {font-size: 1.5rem;}
    .menu-bottom ul li a span {display: none;}
}

@media (max-width: 600px) {
    
    .menu-bottom ul li a i {font-size: 1.3rem;}
    .menu-bottom ul li {padding: 2em;}
    .card {
        margin: 1rem;
    }
}

/** MEDIA QUERIES - NAV SIDE **/
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }






