
/***** COLORS *****/

/***** DARK *****/
.my-text-dark {
    color: rgb(22, 32, 44);
}
.my-bg-dark {
    background-color: rgb(22, 32, 44);
}
.my-body-dark {
    color: rgb(179, 189, 192); 
    background-color: rgb(22, 32, 44);
}
/***** LIGHT *****/
.my-text-light {
    color: rgb(179, 189, 192); 
}
.my-bg-light {
    background-color: rgb(179, 189, 192); 
}
