
/***** COLORS *****/

/***** DARK *****/
.my-text-dark {
    color: rgb(22, 32, 44);
}
.my-bg-dark {
    background-color: rgb(22, 32, 44);
}
.my-body-dark {
    color: rgb(240, 240, 240); 
    background-color: rgb(22, 32, 44);
}
/***** LIGHT *****/
.my-text-light {
    color: rgb(240, 240, 240); 
}
.my-bg-light {
    background-color: rgb(240, 240, 240); 
}
.my-body-light {
    color: rgb(22, 32, 44); 
    background-color: rgb(240, 240, 240);
}

.my-bg-blue-light { background-color: rgb(157, 198, 236); } 
.my-body-blue-light { color: rgb(22, 32, 44); background-color: rgb(157, 198, 236); }